
@{
    ViewData["Title"] = "Contact";
}

<style>
    .center {
        border-width: 1px;
        border-style: solid;
        /*position: center;*/ /* or absolute */
        text-align: center;
        /*top: 50%;
        left: 50%;*/
        /*width: 1000px;*/
        /*height:400px;*/
        margin: 100px 0 0 -100px;
        margin-left: 200px;
        margin-right: 200px;
        /*vertical-align: middle;*/
    }
</style>
<div class="center">
    <h1>Для того, чтобы связаться с нами</h1><br>

    <h4>
        Вы можете позвонить на номер +7(952)1581576 <br><br>
        Написать на почту <a href="anna.mav31@gmail.com">    anna.mav31@gmail.com</a><br>
    </h4>
    <h3> Или</h3><br>
    <h4>
        Придти по адресу <adress>г. Томск, ул.Вершинина, д.74</adress>
</h4>
</div>